<div class="pg-background">
    <div class="login">
        <img
            class="macan"
            src="../../../../assets/data/authdata/Маканчик.png"
            alt="Макан"
        />
        <div class="login-container">
            <h1>Авторизироваться</h1>
            <div class="phone-panel">
                <div class="country-code">
                    <img
                        class="mir"
                        src="../../../../assets/data/authdata/Глобус.png"
                        alt=""
                    />
                    <img
                        class="strelka"
                        src="../../../../assets/data/authdata/стрелка.png"
                        alt=""
                    />
                </div>
                <input type="text" class="phone-input" placeholder="" />
            </div>
            <button class="send-code-button" routerLink="./main">Войти</button>
        </div>
        <img
            class="shaman"
            src="../../../../assets/data/authdata/Шаманчик.png"
            alt="Шаман"
        />
    </div>
</div>
