<div class="main">
    <div class="filter">
        <img src="assets/image/menu.png" alt="" />
    </div>
    <div class="male">
        <div class="sort">
            <div>
                Новинки
                <img src="../../../../assets/icon/main/arrow.svg" alt="" />
            </div>
            <div>
                Меньше ставок
                <img src="../../../../assets/icon/main/arrow.svg" alt="" />
            </div>
        </div>
        <div class="products">lol</div>
    </div>
</div>
