<footer>
    <div class="main">
        <div class="social-icons">
            <img src="../../../../../assets/data/authdata/insta.png" alt="Instagram">
            <img src="../../../../../assets/data/authdata/vk.png" alt="VK">
            <img src="../../../../../assets/data/authdata/telegram.png" alt="Telegram">
        </div>
        <div class="text">
            <p>Звездный Лот</p>
        </div>
        <div class="contact-info">
            <p>+7 (495) 039 05 50</p>
            <p>zvezdnly_lot mail.ru</p>
        </div>
    </div>
</footer>