header {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header {
  width: 60%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.header-search {
  width: calc(60vw - 352px);
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.search {
  display: flex;
  height: 60px;
  width: 100%;
  margin-top: 15px;

  & input {
    position: relative;
    left: 30px;
    width: 100%;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 15px;
    border: 1px solid #000000;

    background-image: url("../../../../../assets/icon/header/search.svg");
    background-position: 96% 50%;
    background-repeat: no-repeat;
  }

  & .photo {
    background-color: #000000;
    width: 90px;
    text-align: center;
    border-radius: 20px;

    img {
      margin-top: 15px;
      margin-left: 25px;
    }
  }
}
