<header>
  <div class="header">
    <div>
      <img src="assets/icon/logo.svg" alt="" />
    </div>
    <div class="header-search">
      <div class="header-top">
        <img src="../../../../../assets/icon/header/city.svg" alt="" />
        <img src="../../../../../assets/icon/header/lang.svg" alt="" />
      </div>
      <div class="search">
        <input type="text" placeholder="Найти вещь на аукционе" />
        <div class="photo">
          <img src="../../../../../assets/icon/header/photo.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
